useDynLib(rSpectral)
importFrom(igraph,get.edgelist)
importFrom(igraph,modularity)
importFrom(igraph,vcount)
importFrom(graph,edges)
importFrom(Rcpp,evalCpp)
import(Rdpack)
export(load_data,
       spectral,
       membership,
       freeSpace,
       spectral_graphNEL,
       spectral_igraph_membership,
       spectral_igraph_communities)
